.footer {
    /* display: flex;  */
    /* width: 100%;
    color: white;
    border: none;
    box-sizing: border-box; */ 
    /* position: fixed; */
    bottom:0;
    left:0;
    width: calc(100%-200px);
}

.background-footer {
    display: block;
    width: 100%;
}

.footer-content {
    position: absolute;
    background-color: #412C3A;

    padding-bottom: 27px;

}

.footer-content-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    justify-items: center;
    align-items: center;
}

.footer-content-details h1 {
    font-size: 40px;
    font-weight: 700;

}

.footer-content-details p {
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
    padding-right: 30px;
    text-align: justify;
    width: 100%;
    /* Điều chỉnh độ rộng của đoạn văn bản */
    margin: 0 auto;
    /* Căn giữa đoạn văn bản trong trang */
}

.footer-content-details span {
    color: #EE10B0;
    font-weight: 700;
}

.left-footer-content a {
    text-decoration: none;
    font-weight: 700;
    color: #0E9EEF;
}

.table {
    border-collapse: separate;
    /* Đảm bảo các ô không bị gộp lại */
    border-spacing: 10px;
    /* Khoảng cách giữa các ô theo chiều dọc */
    width: 100%;
    /* padding: 0px 25px 0px 25px; */
}

.table th {
    border-bottom: 3px solid hsl(0, 0%, 100%);
    text-align: center;
    padding: 10px;
    font-size: 36px;
}

.table td {
    font-size: 24px;
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
    color: #dddddd;
}

.table a {
    color: #dddddd;
}

.contact {
    box-sizing: border-box;
    place-items: center;
    text-align: center;
    padding: 0;
}

.Logo {
    padding: 0px 40px 10px 40px;
    position: center;
    font-size: 43px;
    font-weight: 700;
    background: linear-gradient(to right, #EE10B0, #0E9EEF);
    /* Màu gradient từ trái sang phải */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link {
    display: flex;
    gap: 20px;
    padding: 149px 40px 30px 10px;
}