.header-mobile {
    display: none;
}

.menu-header-mobile {
    display: none;
}

@media screen and (max-width : 430px) {
    .menu {
        display: none;
    }

    .header-mobile {
        width: 100%;
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;

    }

    .left-header-mobile {
        color: white;
        font-size: 15px;
        font-weight: 500;
    }

    .album-menu-mobile {
        font-size: 32px;
        font-weight: 800;
        background: linear-gradient(to right, #EE10B0, #0E9EEF);
        /* Màu gradient từ trái sang phải */
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
    }

    .right-header-mobile {
        display: flex;
        gap: 5px;
    }

    .menu-header-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 10px;
        justify-content: space-between;
    }

    .back-button-mobile {
        display: flex;
    }

    .more-icon-header-mobile {
        display: flex;
    }

}