.header-mobile {
    display: none;
}

@media screen and (max-width : 430px) {
    .menu {
        display: none;
    }

    .header-mobile {
        width: 100%;
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }

    .left-header-mobile {
        color: white;
        font-size: 15px;
        font-weight: 500;
    }

}